<div class="wrap">
	<div class="header">страница записей</div>

	<div class="cells-outer" *ngIf="!isLoaded">
		<wfm-loader></wfm-loader>
	</div>

	<div class="cells-outer" *ngIf="isLoaded">
		<div class="cells">
			<wfm-add-event class="cell" [categories]="categories"></wfm-add-event>
			<wfm-add-category class="cell" (onCategoryAdd)="newCategoryAdd($event)"></wfm-add-category>
		</div>

		<div class="cells">
			<wfm-edit-category class="cell" [categories]="categories" (onCategoryEdit)="categoryWasEdited($event)"></wfm-edit-category>
		</div>
	</div>
</div>