<div *ngIf="!isLoaded">loading...</div>

<div class="wrap" *ngIf="isLoaded">
	<div class="header">страница записи #{{ event.id }}</div>
	<br>
	<a [routerLink]="['/system/history']">назад</a>

	<div class="body">
 		<div class="card" [ngClass]="{
 			'success': event.type === 'income',
 			'danger': event.type === 'outcome'
 		}">
 			<div class="title">
 				<span *ngIf="event.type === 'income'">доход</span>
 				<span *ngIf="event.type === 'outcome'">расход</span>
 			</div>
 			<div class="content">
 				<div>суммма {{ event.amount | number:'1.2' }}</div>
 				<div>категория {{ category.name }}</div>
 				<div>комментарий {{ event.description }}</div>
 				<div>дата {{ event.date }}</div>
 			</div>
 		</div>
	</div>
</div>