<section class="section">
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>сумма</th>
				<th>дата</th>
				<th>категория</th>
				<th>тип</th>
				<th>действие</th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let e of events; let idx = index;">
				<td>{{ idx + 1 }}</td>
				<td>{{ e.amount | number:'1.2' }}</td>
				<td>{{ e.date | wfmMoment:'DD.MM.YYYY HH:mm:ss' }}</td>
				<td>{{ e.catName }}</td>
				<td [ngClass]="getEventClass(e)">
					<span *ngIf="e.type === 'income'">доход</span>
					<span *ngIf="e.type === 'outcome'">расход</span>
				</td>
				<td>
					<a [routerLink]="['/system/history', e.id]">открыть</a>
				</td>
			</tr>
		</tbody>
	</table>
</section>