<div class="wrap">
	<div class="header">страничка истории</div>
	<button (click)="openFilter()">открыть фильтр</button>
	<hr>

	<div *ngIf="!isLoaded">Loading</div>

	<div *ngIf="isLoaded">
		<wfm-history-chart [data]="chartData"></wfm-history-chart>

		<wfm-history-events [categories]="categories" [events]="events"></wfm-history-events>

		<div *ngIf="isFilterVisible">
			<wfm-history-filter (onFilterApply)="onFilterApply($event)" (onFilterCancel)="onFilterCancel()" [categories]="categories"></wfm-history-filter>
		</div>
	</div>
</div>